@font-face {
    font-family: "navbar";
    src: url("../Font/body.ttf") format('truetype');
}

@font-face {
    font-family: "body";
    src: url("../Font//KEThin.ttf") format('truetype');
}

@font-face {
    font-family: "header";
    src: url("../Font/KThin.ttf") format('truetype');
}

@font-face {
    font-family: "headerbold";
    src: url("../Font/headbold.ttf") format('truetype');
}

@font-face {
    font-family: "home";
    src: url("../Font/home.ttf") format('truetype');
}

@font-face {
    font-family: "welcome";
    src: url("../Font/uae.ttf") format('truetype');
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.homebackground video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.navbar {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.21);
    height: 80px;
}

.navbar ul {
    display: flex;
    gap: 30px;
    position: absolute;
    right: 0;
    top: 35px;
    padding: 0 20px;
}

.navbar ul li {
    list-style: none;
    font-size: 15px;
    position: relative;
    left: -40px;
}

.navbar ul li a {
    text-decoration: none;
    cursor: pointer;
    color: white;
    text-shadow:
    -0.8px -0.8px 0 #000000,
     0.8px -0.8px 0 #000000,
    -0.8px  0.8px 0 #000000,
     0.8px  0.8px 0 #000000;
    font-family: "navbar", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

.UAE {
    position: absolute;
    top: 18%;
    right: 5%;
    height: 650px;
    width: 750px;
    opacity: 85%;
}

.welcome1 {
    position: absolute;
    font-size: 120px;
    font-family: "welcome", sans-serif;
    color: white;
    top: 18%;
    left: 5%;
    line-height: 1.2;
    letter-spacing: 5px;

}

.welcome2 {
    position: absolute;
    font-size: 50px;
    font-family: "header", sans-serif;
    color: white;
    top: 53%;
    left: 5%;
    line-height: 1.2;
    letter-spacing: 5px;
    font-weight: 15;
}

.welcome3 {
    position: absolute;
    font-size: 25px;
    font-family: "welcome", sans-serif;
    color: white;
    bottom: 15%;
    left: 5%;
    line-height: 1.2;
    letter-spacing: 5px;
    font-weight: 1000;
}

.welcome3::after {
    content: "";
    width: 1px;
    height: 50px;
    background-color: white;
    position: absolute;
    top: -20%;
    left: 105%;
}

.welcome4 {
    position: absolute;
    font-size: 14px;
    font-family: "navbar", sans-serif;
    color: white;
    bottom: 13.5%;
    left: 16%;
    line-height: 1.2;
    letter-spacing: 10px;
    font-weight: 1000;
    text-align: justify;
    width: 500px;
}

/*  HISTORY PAGE  */
#history {
    background: url(/IMAGES/historybackground1.png);
    background-size: cover;
}

.historyhead {
    position: absolute;
    font-size: 65px;
    font-family: "welcome", sans-serif;
    text-align: left;
    line-height: 1.2;
    letter-spacing: 10px;
    width: 650px;
    left: 10%;
    top: 12%;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
    font-weight: 600;
}

.historybody {
    position: absolute;
    font-size: 22px;
    font-family: "body", sans-serif;
    width: 800px;
    text-align: justify;
    right: 8%;
    top: 12%;
    line-height: 1.5;
    letter-spacing: 5px;
    color: white;
    font-weight: 500;
    text-shadow:
    -0.5px -0.5px 0 #000,
     0.5px -0.5px 0 #000,
    -0.5px  0.5px 0 #000,
     0.5px  0.5px 0 #000;
}

.historyc {
    position: relative;
    display: flex;
    align-items: flex-end;
    margin-top: 21%;
    gap: 80px;
    flex-wrap: wrap;
}

.historyc1,
.historyc2,
.historyc3,
.historyc4 {
    position: relative;
    width: 320px;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    color: white;
    border: 1.5px solid black;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
}

.Imagehistoryc {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    transition: opacity .2s ease-out;
}

.historyc h1 {
    position: relative;
    inset: 350px auto auto 15px;
    margin: 0;
    text-align: left;
    transition: inset .3s .3s ease-out;
    font-family: "headerbold", sans-serif;
    font-weight: 900;
    text-transform: capitalize;
    width: 90%;
    text-transform: uppercase;
    color: #e0e6ed;
    text-shadow:
    -0.5px -0.5px 0 #000,
     0.5px -0.5px 0 #000,
    -0.5px  0.5px 0 #000,
     0.5px  0.5px 0 #000;

}

.historyc p {
    position: absolute;
    opacity: 0;
    transition: opacity .3s ease-out, inset 0s .3s;
    text-align: justify;
    inset: auto auto -10px 15px;
    max-width: 80%;
    font-size: 20px;
    color: #e0e6ed;
    text-shadow:
    -0.5px -0.5px 0 #000,
     0.5px -0.5px 0 #000,
    -0.5px  0.5px 0 #000,
     0.5px  0.5px 0 #000;

}

.historyc1:hover h1,
.historyc3:hover h1,
.historyc4:hover h1 {
    inset: 175px auto auto 15px;
    transition: inset .3s ease-out;
}

.historyc2:hover h1 {
    inset: 230px auto auto 15px;
    transition: inset .3s ease-out;
}

.historyc1:hover p {
    opacity: 1;
    inset: 210px auto auto 15px;
    transition: opacity .3s ease-in, inset 0s 0s;
}

.historyc2:hover p {
    opacity: 1;
    inset: 265px auto auto 15px;
    transition: opacity .3s ease-in, inset 0s 0s;
}

.historyc3:hover p,
.historyc4:hover p {
    opacity: 1;
    inset: 250px auto auto 15px;
    transition: opacity .3s ease-in, inset 0s 0s;
}

.historyc1:hover img,
.historyc2:hover img,
.historyc3:hover img,
.historyc4:hover img {
    transition: opacity .3s ease-in;
    opacity: 1;
}


/* TOURIST SPOTS */
.touristbackground video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.touristspotshead{
    position: absolute;
    top: 9%;
    font-family: "welcome", sans-serif;
    color: white;
    font-size: 50px;
    letter-spacing: 3px;
    font-weight: 900;
    text-shadow:
    -0.5px -0.5px 0 #000,
     0.5px -0.5px 0 #000,
    -0.5px  0.5px 0 #000,
     0.5px  0.5px 0 #000;

}

.uaegif{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 4.5%;
    right: 21.5%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.image-container {
    top: 12%;
    flex: 0 1 calc(20% - 15px);
    box-sizing: border-box;
    position: relative;
}

.thumbnail img {
    position: relative;
    width: 265px;
    height: auto;
    cursor: pointer;
    border: 3px solid white;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
}

.popup {
    display: none;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 15px;
    width: 90%;
    max-width: 600px;
    z-index: 9999;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    text-align: center;
}

.touristimg-desc, .touristimg-desc1{
    font-family: "headerbold", sans-serif;
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 13px;
    margin: 0;
    padding: 5px 10px;
    top: -20px;
    text-transform: uppercase;
    width: 50%;
    left: 25%;
    background-color: rgb(255, 255, 255);
}

.touristimg-desc1{
    top: -28px;
}

.popup img {
    width: 100%;
    height: auto;
    border-radius: 6px;
}

.close-button {
    position: absolute;
    top: 8px;
    right: 10px;
    background: #ccc;
    border-radius: 50%;
    padding: 2px 7px;
    font-size: 12px;
    cursor: pointer;
}

.popup h3{
    font-family: "headerbold", sans-serif;
    font-weight: bold;
}

.popup p{
    font-family: "body", sans-serif;
}


#popup1:checked~.popup,
#popup2:checked~.popup,
#popup3:checked~.popup,
#popup4:checked~.popup,
#popup5:checked~.popup,
#popup6:checked~.popup,
#popup7:checked~.popup,
#popup8:checked~.popup,
#popup9:checked~.popup,
#popup10:checked~.popup {
    display: block;
}

/* DELICACIES */
#foods{
    background-image: url(/IMAGES/foodbackground.png);
    background-size: cover;
}

.foodheader {
    position: absolute;
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 5rem;
    text-shadow:
    3px 3px 0 #75370f,
    2px 2px 0 #75370f,
    2px 2px 0 #75370f,
    2px 2px 0 #75370f;
    top: 80px;
}

.foodgallery {
    position: absolute;
    top: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 25px;
}

.foodcontainer {
    flex: 0 1 calc(25% - 25px);
    box-sizing: border-box;
    position: relative;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    background: #75370f;
    border: solid 3px white;
}

.foodcontainer:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.foodgallery img {
    width: 100%;
    max-width: 300px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

.foodname {
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
}